<div class="mb-4 flex flex-col relative">
  <label [for]="'field-' + label().toLowerCase().replace(' ', '-')" class="mb-2 font-bold"
    >{{ label() }}
    @if (required()) {
      <span class="text-red-600">*</span>
    }
  </label>
  <input
    [id]="'field-' + label().toLowerCase().replace(' ', '-')"
    type="text"
    [value]="value()"
    [disabled]="disabled()"
    (input)="changeInput($event)"
    (blur)="touched.set(true)"
    class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
    autocomplete="off"
  />
  @if (touched() && invalid()) {
    @for (error of errors(); track error.message) {
      <span class="text-red-600 text-sm mt-1">{{ error.message }}</span>
    }
  }

  @if (pending()) {
    <div class="p-3 text-gray-500 text-center">
      <span class="inline-block animate-spin mr-2">⏳</span>
      Buscando direcciones...
    </div>
  }

  <div class="mt-8 bg-gray-100 p-4 rounded">
    <div class="flex align-baseline justify-baseline gap-1">
      <h3 class="text-lg font-bold">required:</h3>
      <pre class="text-lg">{{ required() }}</pre>
    </div>
    <div class="flex align-baseline justify-baseline gap-1">
      <h3 class="text-lg font-bold">touched:</h3>
      <pre class="text-lg">{{ touched() }}</pre>
    </div>
    <div class="flex align-baseline justify-baseline gap-1">
      <h3 class="text-lg font-bold">invalid:</h3>
      <pre class="text-lg">{{ invalid() }}</pre>
    </div>
    <div class="flex align-baseline justify-baseline gap-1">
      <h3 class="text-lg font-bold">pending:</h3>
      <pre class="text-lg">{{ pending() }}</pre>
    </div>
  </div>
</div>
